node_modules
dist
npm-debug.log
.env.development
.env.production
.env.local
.git
.gitignore
.github
.vscode
.idea
*.md
.DS_Store
Thumbs.db
coverage
.jest_cache
uploads
.next
.eslintrc.json
prettier.config.js
tsconfig.build.json
jest.config.js
